.body {

  font-family: Arial, Helvetica, sans-serif;
}

/*Logo et texte*/

.jaina {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px 2em;
  text-align: center;
  border: 20px black;
  border-radius: 3vw;
  margin-top: 3vw;
  height: 50%;
  padding: 5px;

}


.jaina :first-child {
    align-self: center;
    justify-content: center;
}



@media screen and (min-width: 600px) and (max-width: 1024px) {

  .jaina {

      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 50px 2em;
      text-align: center;
      margin-top: 5vw;
      padding: 5px;
      font-size: 95%;
  }
}

@media screen and (min-width: 320px) and (max-width: 600px) {

  .jaina {

      display: grid;
      grid-template-columns: 1fr;
      gap: 50px 2em;
      text-align: center;
      margin-top: 10vw;
      padding: 5px;
  }
}
    